* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border: 2px solid #3498db; 
    width: 80%;
    border-collapse: collapse; 
}

th {
    background-color: #3498db; 
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #3498db; 
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #3498db; 
}

tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

.description {
    width: 40%;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
